footer {
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer a {
font-size: 14px;
color: #333;
margin: 0 auto;
font-weight: 500;
}